body {
	position: relative; 
	height: 100%;
	overflow-x: hidden; 
	width:100%
}
.overflowWrap {
	overflow-x: hidden;
}
.nav li i {
	display:none;
}
/*.nav li b {
    display: none;
}*/
.nav a:hover {
    color: #fff;
}
.nav a:hover b {
    display: none;
}
.nav a:hover i {
    display: block;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	color:#757575 !important;	
}
.home {
	text-align:center;
	width:68px;	
}
.active.section1 a{
    color: #00a59d !important;
}
.active.section2 a{
    color: #d13f34 !important;
}
.active.section3 a{
    color: #ff9624 !important;
}
.active.section4 a{
    color: #9bc12b !important;
}
.active.section5 a{
    color: #9c43a3 !important;
}
.section1 {
	text-align:center;
	width:116px;	
}
.section2 {
	text-align:center;
	width:91px;	
}
.section3 {
	text-align:center;
	width:123px;	
}
.section4 {
	text-align:center;
	width:120px;	
}
.section5 {
	text-align:center;
	width:109px;	
}

#home {
	padding:50px 0 0 0;
	color: #fff; 
	background-color: #000000;
}
section {
	height: 100%;	
	color: #fff;
	padding:59px 0px 50px 0px;
}
#section1 {
	background-color: #3cb5b1;

}
#section2 {
	background-color: #d13f34;
	height:100vh;
}
#section3 {
	background-color: #ff9624;
	height:100vh;

}
#section4 {
	background-color: #9bc12b;
	height:100vh;

}
#section5 {
	background-color: #9c43a3;	
	height:100vh;

}
.navbar-inverse {
	background-color: white !important;
    border-color: #fcda59 !important;
    border-bottom-width: 3px !important;
}
.navbar-inverse .navbar-nav>.active>a,  {
	background-color: #c5c3c2 !important;		
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #c5c3c2 !important;				
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	color: #9f9d9c !important; }
.navbar i {
	height:20px;
	width:20px;
	text-align:center;
	margin: 0px auto;
}
.navbar-nav:hover {
		color: #9f9d9c !important;
}
.logo {
	height:28px;
	width:79px;
	margin-top:10px;
	margin-right:5px;
}
.remove-padding {
    padding-right: 0px;
    padding-left: 0px;
}
.iconos {
	font-size:60px;
	text-align:center;
	padding-top: 10px;	
}
.grid:hover {
	background-image:url(../../01_pedidos%20de%20dise%C3%B1o/overlay.png)}
	.grid{
	background-image:none}
.circle{ 
	width:100px;
	height:100px;
	border-radius:50%;
	margin:0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sombras {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.titulos {
	text-align:center;
    text-shadow: 2px 2px 4px #000000;
	font-family:"CHANEWEI";
}
.titulos1 {
	text-align:center;
    text-shadow: 2px 2px 4px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:150px; 
	color:white;
	font-family:"CHANEWEI";

}
.titulos2 {
    text-shadow: 2px 2px 6px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:120px; 
	color:white;
	font-family:"CHANEWEI";

}
.titulos3 {
    text-shadow: 2px 2px 6px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:70px; 
	color:white;
	font-family:"CHANEWEI";
}
.titulos4 {
	text-align:center;
    text-shadow: 2px 2px 6px #000000;
	font-size:50px; 
	color:white;
	background-color:#00bcd4;
	opacity:0.7;
	font-family:"CHANEWEI";
}
.textocarouselcontrast{
	background-color:white;
	color:#0268c2;
	
}
.cuadrosdetextos {
	padding:15px 0px 5px 0px;
}
#textosinstitucional {
	background-color:#00a59d;
	border-radius:10px;
}
#textosinstitucional:hover {
	background-color:#3cb5b1;
	-webkit-transform: scale(1.1);
    transform: scale(1.03);
}
.hvr-border-fade {
	-webkit-transform: perspective(1px) translateZ(0);
	ransform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	box-shadow: inset 0 0 0 4px #00a59d, 0 0 1px transparent;
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
	box-shadow: inset 0 0 0 4px white, 0 0 1px transparent;
  /* Hack to improve aliasing on mobile/tablet devices */
}
}
.carousel-content {
    display:flex;
    align-items:center;
}
.carousel-indicators2 {
	bottom: 90%  !important;
}

#text-carousel {
	width: 100%;
	height: auto;
	padding: 15px 50PX;
}
.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	margin:10px 0px !important;
}
.parallax-window {
    min-height: 100vh;
}
.navbar-brand {
	font-family:"CHANEWEI";
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.navbar-brand { 
	display:none;
	
}
.nav li i {
    display: inline;
}
.nav a:hover i {
    display: inline;
}
.nav a:hover b {
    display: inline;
}
.titulos1 {
	text-align:center;
    text-shadow: 2px 2px 4px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:50px; 
	color:white;
}
.titulos2 {
    text-shadow: 2px 2px 6px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:30px; 
	color:white;
}
.titulos3 {
    text-shadow: 2px 2px 6px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:20px; 
	color:white;
}
.titulos4 {
	text-align:center;
    text-shadow: 2px 2px 6px #000000;
	font-size:15px; 
	color:white;
	background-color:#00bcd4;
	opacity:0.7;
}
.parallax-window {
	display:none;
}
}
/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
.navbar-brand { 
	display:none;
}
.nav li i {
    display: none;
}
.nav a:hover i {
    display: none;
}
.nav a:hover b {
    display: inline;
}
section {
	height: 100%;	 
}
.titulos1 {
	text-align:center;
    text-shadow: 2px 2px 4px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:50px; 
	color:white;
}
.titulos2 {
    text-shadow: 2px 2px 6px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:30px; 
	color:white;
}
.titulos3 {
    text-shadow: 2px 2px 6px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:20px; 
	color:white;
}
.titulos4 {
	text-align:center;
    text-shadow: 2px 2px 6px #000000;
	font-size:15px; 
	color:white;
	background-color:#00bcd4;
	opacity:0.7;
}
.parallax-window {
	display:none;
}
@media only screen 
and (max-width : 560px) {
/* Styles */
.navbar-brand { 
	display:none;
}
section {
	height: 100%;	 
}
.nav li i {
    display: none;
}
.nav a:hover i {
    display: none;
}
.nav a:hover b {
    display: inline;
}
.titulos1 {
	text-align:center;
    text-shadow: 2px 2px 4px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:50px; 
	color:white;
}
.titulos2 {
    text-shadow: 2px 2px 6px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:30px; 
	color:white;
}
.titulos3 {
    text-shadow: 2px 2px 6px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:20px; 
	color:white;
}
.titulos4 {
	text-align:center;
    text-shadow: 2px 2px 6px #000000;
	font-size:15px; 
	color:white;
	background-color:#00bcd4;
	opacity:0.7;
}
.parallax-window {
	display:none;
}
}
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
section {
	height: 100%;	 
}
}
/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
section {
	height: 100%;	 
}
}
/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
.carousel-indicators2 {
    bottom: 90% !important;
}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}
/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
