body {
	position: relative; 
	height: 100%;
	overflow-x: hidden; 
	width:100%
}
p {
	/*word-break: break-all;*/
  overflow-wrap: normal;
  word-wrap: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens:auto;
  text-overflow: ellipsis;
  
}
a {
	color:#FFF !important;
}
.navbar-inverse .navbar-nav>li>a {
color: #9d9d9d !important;	
}
.navbar-inverse .navbar-brand  {
	color: #9d9d9d !important;	
}
.overflowWrap {
	overflow-x: hidden !important;
}
.nav li i {
	display:none;
}
/*.nav li b {
    display: none;
}*/
.nav a:hover {
    color: #fff;
}
.nav a:hover b {
    color:#646464;
}
.nav a:hover i {
    display: block;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	color:#757575 !important;	
}
.home {
	text-align:center;
	width:68px;	
}
.active.section1 a{
    color: #57937b !important;
}
.active.section2 a{
    color: #d0435d !important;
}
.active.section3 a{
    color: #14638e !important;
}
.active.section4 a{
    color: #dba942 !important;
}
.active.section5 a{
    color: #9c43a3 !important;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color:#000	 !important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color:white !important;	
}
.section1 {
	text-align:center;
}
.section2 {
	text-align:center;
}
.section3 {
	text-align:center;
}
.section4 {
	text-align:center;
}
.section5 {
	text-align:center;
}

#home {
	padding:33px 0 0 0;
	color: #fff; 
	background-color: #000000;
}
section {
	height: 100%;	
	color: #fff;
	padding:59px 0px 50px 0px;
}
#section1 {
	background-color: #57927b;
	background-image: url(../imagenes/seccion-1-puntitosfoot.png),radial-gradient(#6dac93,#365b4d );
	background-position:center bottom;
	background-repeat:no-repeat;

}
#section2 {
/*	background-color: #c33f58; !important; /* Old browsers */ 
	background-color: -moz-radial-gradient(letf, #a23449 0%, #c33f58 100%) !important; /* FF3.6-15 */
	background-color: -webkit-radial-gradient(letf, #a23449 0%, #c33f58 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background-color: linear-radial(letf, #a23449 0%,#c33f58 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border:none !important;
	padding:0 !important;
	overflow:auto;
}
#section3 {
	padding:0 !important;
	background: #14638e; /* For browsers that do not support gradients */
	background-image:url(../imagenes/seccion-4-puntitoshead.png), url(../imagenes/seccion-4-puntitosfoot.png),-webkit-radial-gradient(#14638e, #0f4963);
	background-position:center top, center bottom;
	background-repeat:no-repeat;
	background-image:url(../imagenes/seccion-4-puntitoshead.png), url(../imagenes/seccion-4-puntitosfoot.png),-o-radial-gradient(#14638e, #0f4963);
	background-position:center top, center bottom;
	background-repeat:no-repeat;
	background-image:url(../imagenes/seccion-4-puntitoshead.png), url(../imagenes/seccion-4-puntitosfoot.png),-moz-radial-gradient(#14638e, #0f4963);
	background-position:center top, center bottom;
	background-repeat:no-repeat;
  /* Standard syntax */
	background-image:url(../imagenes/seccion-4-puntitoshead.png), url(../imagenes/seccion-4-puntitosfoot.png),radial-gradient(#14638e, #0f4963);
	background-position:center top, center bottom;
	background-repeat:no-repeat;
	overflow:auto;
		overflow-x: hidden; 

}
#section4 {
	background-color: #f2f2f2;
	padding:0 !important;
}

#section5 {
	background-color: #9c43a3;	
	height:100vh;

}
#section6 {
	background-color: #dc45a3;	
	height:100vh;

}
.navbar-inverse {
	background-color: white !important;
    border-color: #fcda59 !important;
    border-bottom-width: 3px !important;
}
.navbar-inverse .navbar-nav>.active>a,  {
	background-color: #c5c3c2 !important;		
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #c5c3c2 !important;				
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	color: #9f9d9c !important; }
.navbar i {
	height:20px;
	width:20px;
	text-align:center;
	margin: 0px auto;
}
.navbar-nav:hover {
		color: #9f9d9c !important;
}
.logo {
	height:28px;
	width:79px;
	margin-top:10px;
	margin-right:5px;
}
.remove-padding {
    padding-right: 0px;
    padding-left: 0px;
}
.iconos {
	font-size:60px;
	text-align:center;
	padding-top: 10px;	
}
.grid:hover {
	background-image:url(../../01_pedidos%20de%20dise%C3%B1o/overlay.png)}
	.grid{
	background-image:none}
.circle{ 
	width:100px;
	height:100px;
	border-radius:50%;
	margin:0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sombras {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.titulos {
	text-align:center;
	font-family:"CHALONEI";
	font-size:72px;
	border-bottom:thin #FFF solid;
	text-shadow:1px 0px 5px  #000000;
	padding-bottom:10px;

}
.tituloseccion1 {
	text-align:center;
	font-family:"CHALONEI";
	font-size:72px;
	border-bottom:thin #FFF solid;
	text-shadow:1px 0px 5px  #000000;
	padding-bottom:10px;
	font-weight:900;
}
.portadasecc2 {
	background-image:url(../imagenes/seccion-2-portada.png);
	background-repeat:no-repeat;	
}
.seccion2foo {
	background: #933149; /* For browsers that do not support gradients */
	background-image:url(../imagenes/fondo-linitas-head.png), url(../imagenes/fondo-puntitos-foot.png),-webkit-radial-gradient(#c33f58, #933149);
	background-position:center top, center bottom;
	background-repeat:no-repeat;
	background-image:url(../imagenes/fondo-linitas-head.png), url(../imagenes/fondo-puntitos-foot.png),-o-radial-gradient(#c33f58, #933149);
	background-position:center top, center bottom;
	background-repeat:no-repeat;
	background-image:url(../imagenes/fondo-linitas-head.png), url(../imagenes/fondo-puntitos-foot.png),-moz-radial-gradient(#c33f58, #933149);
	background-position:center top, center bottom;
	background-repeat:no-repeat;
  /* Standard syntax */
	background-image:url(../imagenes/fondo-linitas-head.png), url(../imagenes/fondo-puntitos-foot.png),radial-gradient(#c33f58, #933149);
	background-position:center top, center bottom;
	background-repeat:no-repeat;
	overflow:auto;
	padding-bottom:35px;
	}
.btncenter {
	text-align:center;
}
.btnsecc2{
	
	background: #55a89c !important; /* Old browsers */
	background: -moz-linear-gradient(top, #55a89c 0%, #46766f 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #55a89c 0%, #46766f 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #55a89c 0%,#46766f 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border:none !important;
	padding:20px 60px !important;
}
.btnsecc2p {
	font-family:"CHALONEI" !important;
	font-size:18px !important;
	margin:0px !important;
	letter-spacing:1.7px;
	
}
.btnsecc2:hover{
	color:#d8d8d8 !important;
}
.btnsecc3_1 {
	margin:0 !important;
	background: #faae3a !important; /* Old browsers */
	background: -moz-linear-gradient(top, #faae3a 0%, #bc682f 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #faae3a 0%, #bc682f 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #faae3a 0%,#bc682f 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border:none !important;
	border-radius:3px;
	padding:15px 30px !important;	
	font-family:"CHALONEI" !important;
	font-size:18px !important;
	margin:0px !important;
	letter-spacing:1.7px;
	white-space: normal !important;	
}
.btnsecc3_1:hover{
	color:#d8d8d8 !important;
}
.btnsecc3_1 {
	margin:0 !important;
	
}
.btnsecc3_wraper {
	margin: 0 auto;
    text-align: center;
	padding:0 60px;
}
.btnsecc3_2{
	background: #faae3a !important; /* Old browsers */
	background: -moz-linear-gradient(top, #faae3a 0%, #bc682f 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #faae3a 0%, #bc682f 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #faae3a 0%,#bc682f 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border:none !important;
	border-radius:3px;
	padding:15px;	
	font-family:"CHALONEI" !important;
	font-size:15px !important;
	margin:0px !important;
	letter-spacing:1.7px;
	white-space: normal !important;
}

.btnsecc3_2:hover{
	color:#d8d8d8 !important;
}
.btnsecc3edi{
	
	background: #378fcb !important; /* Old browsers */
	background: -moz-linear-gradient(top, #0259b1 0%, #378fcb 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #0259b1 0%, #378fcb 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #0259b1 0%,#378fcb 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border:none !important;
	padding:20px 60px !important;
	margin:35px 0 !important;
}
.btnsecc3edip {
	font-family:"CHALONEI" !important;
	font-size:18px !important;
	margin:0px !important;
	letter-spacing:1.7px;
	
}
.btnsecc3edi:hover{
	color:#d8d8d8 !important;
}
.editoriallegis {
	background-color:#f2f2f2;
	clear:both;
	overflow:auto;
	padding-bottom:35px;
		overflow-x: hidden; 

}
.imgeditoriallegis{
	padding:65px 75px 20px;
	margin: 0 auto;
}
.txteditoriallegis{
	color:#4d4d4d;
	font-family: "CHALONEI";
    font-size: 23px;
    text-align: justify;
    line-height: 1.6;
    letter-spacing: 0.7px;
    margin-bottom: 0px !important;
    padding: 0 75px 15px;
	
}
.subtitulointsecc3{
	max-width:100%;
	padding:70px 75px 35px;
}
.transactivaycodigo{
	padding-bottom:50px;
}
.btnsecc3p {
	font-family:"CHALONEI" !important;
	font-size:18px !important;
	margin:0px !important;
	letter-spacing:1.7px;
}
.btnsecc3:hover{
	color:#d8d8d8 !important;
}
.titulos1 {
	text-align:center;
	text-shadow:1px 0px 5px  #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:150px; 
	color:white;
	font-family:"CHANEWEI";
}
.tituloseccion2 {
	text-align:center;
	font-family:"CHALONEI";
	font-size:72px;
	text-shadow:1px 0px 5px  #000000;
	padding-bottom:10px;
	padding-top:100px;
	font-weight:900;
}
.portadasecc3 {
	
}
.fondoportadasecc4 {
	background-image:url(../imagenes/seccion-3-fondo_portada.png);
	background-repeat:no-repeat;
}
.secc3numero {
	margin:0 auto;	
}
.textossecc4 {
	font-family: "CHALONEI";
    font-size: 23px;
    text-align: justify;
    line-height: 1.6;
    margin-top: 50px;
    padding: 0 45px 85px 45px;
    letter-spacing: 0.7px;
    margin:190px 0 0px 0 !important;
	font-weight:700;
	text-shadow: 1px 0px 5px  #000000;	
	
}
.textossecc4_2 {
	text-align:center;
	font-family: "CHALONEI";
    font-size: 23px;
	line-height: 1.6;
	letter-spacing: 0.7px;
	font-weight:900;
}
.textossecc4_3 {
	text-align:right;
	font-family: "CHALONEI";
    font-size: 17px;
	line-height: 1.6;
	letter-spacing: 0.7px;
	margin: 100px 25px 0px;
}
.tituloseccion4 {
	text-align:center;
	font-family:"CHALONEI";
	font-size:72px;
	text-shadow:1px 0px 5px  #000000;
	padding:55px 0;
	font-weight:900;
}
.tituloseccion4_1 {
	color:#4d4d4d;
	text-align:center;
	font-family:"CHALONEI";
	font-size:72px;
	text-shadow:1px 0px 5px  #000000;
	padding:75px 0 20px 0;
	font-weight:900;
}
.subtitulosecc2{
	text-align:center;
	font-family:"CHALONEI";
	font-size:35px;
	padding-top:110px;
	font-weight:900;
	text-shadow:1px 0px 5px  #000000;

}
.subtitulossecc1div {
	display: table;
	width: 100%;
	margin-top:35px;
	padding: 0 35px;
}
.subtitulosseccion1 {
	margin:50px auto 25px auto;
	background-color:#f2f2f2;
	font-family:"CHALONEI";
	color:#4d4d4d;
	font-size:20px;
	width:470px;
	height:90px;
	text-align:center;
	border-radius:15px;
	vertical-align:middle;
	display:table-cell;
	font-weight:600;
    padding: 0 15px;
}
.titulos2 {
	text-shadow:-2px -2px 5px  #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:120px; 
	color:white;
	font-family:"CHANEWEI";

}
.titulos3 {
	text-shadow:-2px -2px 5px  #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:70px; 
	color:white;
	font-family:"CHANEWEI";
}
.titulos4 {
	text-align:center;
	text-shadow:-2px -2px 5px  #000000;
	font-size:50px; 
	color:white;
	background-color:#00bcd4;
	opacity:0.7;
	font-family:"CHANEWEI";
}
.textosseccion1 {
	font-family:"CHALONEI";
	font-size:23px;
	text-align:justify;
	line-height:1.6;
	margin-top:15px;
	padding:0 45px 0 45px;
	letter-spacing:0.2px;
}
.textosseccion3 {
	font-family: "CHALONEI";
    font-size: 23px;
    text-align: justify;
    line-height: 1.6;
    letter-spacing: 0.7px;
    margin-bottom: 0px !important;
	padding:0 75px 15px;
}
.funcionesdeareascol {
}
.funcionesdeareas {
	    margin-bottom: 70px;
}
.textosseccion2 {
	font-family:"CHALONEI";
	font-size:23px;
	text-align:justify;
	line-height:1.6;
	margin-top:50px;
	padding:0 45px 85px 45px;
	letter-spacing:0.7px;
	margin-bottom:0px !important;
}
.textosseccion2doble {
	    padding: 0 82px 85px 82px;
}

.botones-seccion1 {
	margin:0 auto;	
}
.letter-spacing {
	letter-spacing:1.5px;
}
.lineaspunteadas {
/*	width:497px;*/
	margin:0 auto;
}
.dialogando {
	background-color:#fff;
}
.videoWrapper {
	padding:75px 0px;
}
.btnsecc2_1 {
		
	background: #ec5175 !important; /* Old browsers */
	background: -moz-linear-gradient(top, #ec5175 0%, #e65a68 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ec5175 0%, #e65a68 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ec5175 0%,#e65a68 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border:none !important;
	padding:20px 60px !important;
	margin-bottom: 50px !important;
}
.btnsecc2_1:hover{
	color:#d8d8d8 !important;
}
.videoWrapper iframe {
	border-top-width: 2pt;
    border-right-width: 2pt;
    border-bottom-width: 2pt;
    border-left-width: 2pt;
	border-style:solid;
	border-color:#c63470;
}
.btnmivto {
	background: #98288d !important; /* Old browsers */
	background: -moz-linear-gradient(#98288d 0%, #70206c 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(#98288d 0%, #70206c 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: radial-radial(#98288d 0%,#70206c 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border:none !important;
	padding:20px 60px !important;
	margin:60px 0 !important;
}
.btnmivto:hover {
	color:#d8d8d8 !important;

}
.enlaciudadvotas{
	overflow:auto;
	background-image:url(../imagenes/seccion-3-fondo-enlaciudadvotas.png);
	background-repeat:no-repeat;
	background-color:#ffffff;
}
.datosenlaciudavotas {
	padding:10px 0 150px;
}
.datosenlaciudavotas_1 {
	padding:35px 0 0px;
}
.logos{
	margin:0 auto;
	padding:50px 0;	
}
.imgcenter {
	display:block; 
	margin: 0 auto
}
#tallerpc {
	background: -moz-radial-gradient(#684f23 0%, #997536 100%) !important; /* FF3.6-15 */
	background: -webkit-radial-gradient( #684f23 0%, #997536 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(#cb9c3d 0%,#997536 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border:none !important;
	padding:0 !important;
	overflow:auto !important;
}
.align-right {
	text-align:right;
	color:#808080;
	font-family:"CHALONEI";
	font-size:17px;
	padding-right:140px;
}

.carousel-content {
    display:flex;
    align-items:center;
}
.carousel-indicators2 {
	bottom: 90%  !important;
}

#text-carousel {
	width: 100%;
	height: auto;
	padding: 15px 50PX;
}
.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	margin:10px 0px !important;
}
.parallax-window {
    min-height: 50vh;
}
.navbar-brand {
	font-family:"CHANEWEI";
}
.modal-dialog {
	width:60% !important;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.navbar-brand { 
	display:none;
	
}
.nav li i {
    display: inline;
}
.nav a:hover i {
    display: inline;
}
.nav a:hover b {
    display: inline;
}
.titulos1 {
	text-align:center;
    text-shadow: 2px 2px 4px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:50px; 
	color:white;
}
.titulos2 {
    text-shadow: 2px 2px 6px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:30px; 
	color:white;
}
.titulos3 {
    text-shadow: 2px 2px 6px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:20px; 
	color:white;
}
.titulos4 {
	text-align:center;
    text-shadow: 2px 2px 6px #000000;
	font-size:15px; 
	color:white;
	background-color:#00bcd4;
	opacity:0.7;
}
.funcionesdeareas {
	height:100%;
}

.parallax-window {
	display:none;
}
.nav>li>a {
    padding: 8px 0px !important; 	
}
.logo {
	margin-left:5px;
}
.botones-seccion1 {
	width:100%;
}
.lineaspunteadas {
	width:100%;
}
.textosseccion1 {
	font-size:15px;
}
}
/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
.navbar-brand { 
	display:none;
}
.nav li i {
    display: none;
}
.nav a:hover i {
    display: none;
}
.nav a:hover b {
    display: inline;
}
section {
	height: 100%;	 
}
.titulos1 {
    text-shadow: 2px 2px 4px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:50px; 
	color:white;
}
.titulos2 {
    text-shadow: 2px 2px 6px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:30px; 
	color:white;
}
.titulos3 {
    text-shadow: 2px 2px 6px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:20px; 
	color:white;
}
.titulos4 {
    text-shadow: 2px 2px 6px #000000;
	font-size:15px; 
	color:white;
	background-color:#00bcd4;
	opacity:0.7;
}
.parallax-window {
	display:none;
}
.nav>li>a {
    padding: 8px 0px !important; 	
}
.logo {
	margin-left:5px;
}
.funcionesdeareas {
	height:100%;
}
.botones-seccion1 {
	width:100%;
}
.lineaspunteadas {
	width:100%;
}
.modal-dialog {
	margin-top:50% !important;
	width:95% !important;
}

}
@media only screen 
and (max-width : 560px) {
/* Styles */
.navbar-brand { 
	display:none;
}
section {
	height: 100%;	 
}
.nav li i {
    display: none;
}
.nav a:hover i {
    display: none;
}
.nav a:hover b {
    display: inline;
}
.titulos1 {
    text-shadow: 2px 2px 4px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:50px; 
	color:white;
    padding: 0 5px;
}
.titulos2 {
    text-shadow: 2px 2px 6px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:30px; 
	color:white;
    padding: 0 5px;
}
.titulos3 {
    text-shadow: 2px 2px 6px #000000;
	text-align:center; 
	margin: 0 auto; 
	font-size:20px; 
	color:white;
	padding: 0 5px;
}
.titulos4 {
    text-shadow: 2px 2px 6px #000000;
	font-size:15px; 
	color:white;
	background-color:#00bcd4;
	opacity:0.7;
	padding: 0 5px;
}
.tituloseccion4_1 {
		font-size: 25px;
    padding: 25px 5px 0px;
	text-shadow:none;
}
.btnsecc3edi_1 {
margin-top: -60px !important;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {

	letter-spacing:2px;
}
.subtitulosecc2{
	padding-top:25px;
}

.textossecc4_3 {
	margin: 15px 25px 0px;
}
.datosenlaciudavotas{
	padding:10px 0 20px;
}
.btnsecc2 {
	padding: 20px 30px !important;
}
.btnmivto  {
	white-space:normal !important;
}
.logos {
	padding: 50px 100px;	
}
.textossecc4 {
		padding: 0 5px;
}
.parallax-window {
	display:none;
}
.nav>li>a {
    padding: 8px 0pxm !important; 	
}
.logo {
	margin-left:5px;
}
.funcionesdeareas {
	height:100%;

}
.botones-seccion1 {
	width:100%;
}
.lineaspunteadas {
	width:100%;
}
.textosseccion1 {
	font-size:15px;
	padding: 0 5px;
}
.tituloseccion1 {
	font-size:25px;
	line-height:23px;
}
.textosseccion2 {
	font-size:15px;
	padding-top: 0px;
    margin-top: 5px;
    line-height: 23px;
	padding: 0 5px 20px;
}
.textosseccion3 {
		padding: 0 5px;
}
.subtitulointsecc3{
	padding:15px 5px 35px;
}
.imgeditoriallegis {
	padding:65px 5px 20px;
}
.txteditoriallegis {
	padding:0 5px 15px	
}
.tituloseccion4{
    font-size: 25px;
    padding-top: 15px;
	}
.tituloseccion2 {
	font-size:25px;
	padding-top:15px;
}
.dialogando-logo {
	padding-left:7px;
	padding-right:7px;
}

.align-right {
	padding:3px;
	text-align:left;
}
.navbar-inverse .navbar-nav>li>a {
	text-align:left;
	float:left;
}
.videoWrapper {
	margin: 0px 15px;
}
.videoWrapper iframe {
	height: auto;
    width: auto;
}
.modal-dialog {
	margin-top:50% !important;
	width:95% !important;
}

}
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
section {
	height: 100%;	 
}
}
/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
section {
	height: 100%;	 
}
}
/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
.carousel-indicators2 {
    bottom: 90% !important;
}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}
/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}
@media only screen 
and (min-width : 1355px) {
/* Styles */
.secc3numero {
	width:35px;}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
